# Archivos y carpetas de Go
*.out
*.test
/vendor/
/bin/
/obj/
/pkg/
/tmp/

# Archivos temporales de editores
*~
*.swp
*.swo

# Archivos temporales del sistema
*.tmp
tmp/

# Archivos de configuración del IDE
.idea/
.vscode/
*.code-workspace
.DS_Store
.idx

# variables de entorno 
.env